version: "3"

services:
  frontend:
    image: nginx
    ports:
      - "3000:80"
    restart: always

  backend:
    image: nginx
    ports:
      - "5000:80"
    restart: always

  database:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    restart: always

volumes:
  dbdata:
